.link--active {
  position: relative;
  @include typo__h5-20--black;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
  }
}
