.SlideShow {
  position: relative;
  &-btn--prev,
  &-btn--nxt {
    @extend .active-effect;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    svg {
        width: 60px;
        height: 60px;
      path {
        fill: $clrNeutralWhite;
      }
    }
  }&-btn--nxt{
    right: 0;
  }
}
