.User {
  position: relative;
  display: flex;
  background: $clrNeutralWhite;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba($clrNeutralDarker, 0.8);
  &-container,
  &__form {
    @include flexColStyle(30px);
  }
  &-container {
    padding: 30px;
  }
  &__title {
    @include typo__h4-24--black;
    text-align: center;
  }
  &__form {
    &-submit {
    }
    &-pass {
      position: relative;
      &-forgot {
        @include typo__body-16--thin;
        @extend .hover-effect-link;
        position: absolute;
        top: 10px;
        right: 0;
        color: $clrAccentRed;
      }
    }
  }
  &__new {
    @include typo__body-16--thin;
    @extend .hover-effect-link;
    text-align: center;
  }
  &__close {
    @extend .hover-effect;
    position: absolute;
    right: 20px;
    top: 20px;
    svg path {
      fill: currentColor;
    }
  }
}
