.NavList {
  display: flex;
  gap: 30px;
  li {
    @include typo__h5-20--thin;
    @extend .hover-effect;
  }
  &__btn {
    &--active {
      @extend .link--active;
    }
    &--highlight {
      color: $clrAccentRed;
    }
  }
}
