.Prods {
  @include flexColStyle(20px);
  align-items: center;
  &__title {
    @include typo__h4-24--black;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__btn {
    padding: 8px 24px;
  }
}
