.ServiceFeatures {
  gap: 200px !important;
  li {
    @include typo__h4-24--black;
    @extend .hover-effect;
    a {
      @include flexColStyle(20px);
      align-items: center;
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }
}
