.Button {
  @include typo__h5-20--black;
  @extend .hover-effect-btn;
  border: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 40px;
  background: $clrSecondaryDarker;
  color: $clrNeutralWhite;
  outline-offset: -1px;
  &__border {
    @extend .hover-effect-btn-border;
    outline: 1px solid currentColor;
    background: 0;
    color: $clrSecondaryDarker;
  }
  &__secondary {
    @extend .hover-effect-btn-secondary;
  }
  &__error {
    background: $clrAccentRed;
  }
}
