.Filter {
  @include flexColStyle(15px);
  width: 280px;
  &__group {
    @include flexColStyle(15px);
    &-item {
      @extend .hover-effect-link;
    }
    &-option {
      cursor: pointer;
      position: relative;
      width: fit-content;
      padding: 4px 16px;
      border: 1px solid $clrSecondaryDarker;
      border-radius: 4px;
      &-close {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &--inactive {
        @extend .hover-effect-btn-border;
      }
      &--active {
        @extend .hover-effect-btn-secondary;
        background: $clrSecondaryDarker;
        color: $clrNeutralWhite;
        border-color: transparent;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $clrSecondaryLighter;
      margin-top: 15px;
    }
  }
}
