.Loading {
  display: flex;
  flex-direction: column;
  &__img {
    animation: spinning 1s linear infinite;
    margin-bottom: 24px;
  }
  &__text {
    @include typo__h3-30;
    color: $clrNeutralWhite;
    text-align: center;
  }
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
