.Product {
  cursor: pointer;
  width: 340px;
  $borRad: 8px;
  background: $clrNeutralWhite;
  border-radius: $borRad;
  &__img {
    padding: 20px;
    img {
      border-radius: $borRad;
    }
  }
  &__desc {
    width: 100%;
    padding: 20px 34px;
    padding-top: 0;
    &-container {
      @include flexColStyle(14px);
    }
    &-title {
      @include typo__h5-20--black;
      display: -webkit-box;
      min-height: 52px;
      color: $clrSecondaryDarker;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &-price {
      height: max-content;
      &--current {
        @include typo__h5-20--black;
        color: $clrAccentTetradic1;
        margin-right: 20px;
      }
      &--old {
        @include typo__body-16--thin;
        color: $clrNeutralGray;
        text-decoration: line-through;
      }
    }
    &-cta {
      display: inherit;
      justify-content: space-between;
      align-items: center;
      &-add {
        @include typo__body-16--black;
        @extend .hover-effect;
        text-decoration: underline;
        margin-right: 16px;
      }
    }
  }
}

.Product--inpage {
  width: 280px;
  .Product__img {
    padding: 15px;
  }
  .Product__desc {
    width: 100%;
    padding: 15px;
    padding-top: 0;
    &-container {
      gap: 10px;
    }
    &-price {
      &--current {
        margin-right: 16px;
      }
    }
    &-cta {
      .SizeDropdown {
        width: 90px;
      }
    }
  }
}
