.SizeDropdown {
  @include typo__body-16--black;
  $defHeight: 36px;
  $bor: 1px solid currentColor;
  $borRad: 12px;
  $pad: 8px 16px;
  position: relative;
  width: 120px;
  cursor: pointer;
  &__default {
    position: inherit;
    width: 100%;
    height: $defHeight;
    border: $bor;
    border-radius: $borRad;
    padding: $pad;
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      width: 16px;
      height: 16px;
      path {
        fill: currentColor;
      }
    }
  }
  &__opts {
    @include flexColStyle(0);
    position: absolute;
    top: $defHeight;
    left: 0;
    width: 100%;
    background: $clrNeutralWhite;
    border: $bor;
    border-radius: $borRad;
    overflow: hidden;
    &-opt {
      @extend .hover-effect-btn-border;
      padding: $pad;
    }
  }
}

.SizeDropdown--active {
  .SizeDropdown {
    &__default {
      border-bottom: transparent;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &__opts {
      border-top: transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}
