.Tag {
  @include typo__h3-30;
  cursor: default;
  width: 100%;
  text-align: center;
  background: $clrSecondaryDarker;
  color: $clrNeutralWhite;
  padding: 10px 0;
  margin-bottom: 40px;
  border-radius: 20px;
}
