.Header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 24px 0;
  z-index: 10;
  background: $clrNeutralWhite;
  &__logo {
    cursor: pointer;
  }
  &-container {
    @include col(12);
    display: inherit;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: inherit;
    gap: 30px;
    li {
      @extend .hover-effect;
      svg {
        path {
          fill: currentColor;
        }
      }
    }
  }
  &__navList--sub {
    display: grid;
    place-items: center;
    margin-top: 24px;
  }
  &--shadow {
    box-shadow: 0 2px 4px rgba($clrNeutralGray, 0.4);
    transition: box-shadow 0.4s ease-in;
  }
}
