.Input {
  position: relative;
  width: 450px;
  &__label {
    &-title {
      @include typo__body-16--black;
      display: block;
      margin-bottom: 12px;
    }
    &-icon {
      position: absolute;
      cursor: pointer;
      bottom: 14px;
      right: 24px;
      background: 0;
      color: currentColor;
      padding: 0;
      border: 0;
      svg path {
        fill: currentColor;
      }
    }
  }
  &__inp {
    background: $clrNeutralWhite;
    outline: 1px solid $clrSecondaryLighter;
    outline-offset: -1px;
    border-radius: 40px;
    &:focus-within {
      outline-color: $clrSecondaryDarker;
    }
    &-field {
      @include typo__body-16--thin;
      width: 90%;
      background: transparent;
      color: currentColor;
      padding: 16px 24px;
      border: 0;
      outline: 0;
      &::placeholder {
        color: currentColor;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}
