.ArticleNav {
  &__title {
    @include typo__h4-24--black;
    text-transform: uppercase;
  }
  &__nav {
    @include flexColStyle(0);
    $space: 24px;
    margin-top: $space;
    li {
      a {
        @include typo__h5-20--thin;
        @extend .hover-effect-link;
        display: block;
      }
      &:first-child::before,
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $clrSecondaryLighter;
        margin-bottom: $space;
      }
      &::after {
        margin: $space 0;
      }
    }
  }
}
