.Article {
  @include flexColStyle(30px);
  &__title {
    @include typo__h4-24--black;
    text-transform: uppercase
  }
  &__content {
    &-title {
      @include typo__h5-20--black;
      margin-bottom: 8px;
    }
    &-desc {
      @include typo__h5-20--thin;
      ol {
        list-style: initial;
        text-indent: 10px;
        padding-left: 20px;
      }
    }
    &-img {
      margin-top: 24px;
    }
  }
}
