.Feedback {
  @include flexColStyle(24px);
  @extend .small-margin-top;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $clrSecondaryLighter;
  }
  div {
    margin-right: 50px;
    margin-left: auto;
  }
  &__title {
    @include typo__h5-20--black;
  }
  &__answers {
    display: flex;
    gap: 30px;
    &-btn {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
