.AllProds {
  position: relative;
  width: 1120px;
  &__amount {
    position: absolute;
    top: -30px;
    left: 0;
  }
  &__prods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
