.ProdDetailPage {
  &__main {
    display: flex;
    gap: 100px;
    &-imgs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 600px;
      gap: 16px;
      img {
        cursor: pointer;
      }
      &-main {
        grid-column: span 4;
      }
    }
    &-content {
      @include flexColStyle(24px);
      position: relative;
      %box-style {
        padding: 4px 10px;
        border-radius: 4px;
      }
    }
    &-title {
      @include typo__h5-20--black;
    }
    &-like {
      @extend .hover-effect-btn;
      $boxSize: 48px;
      position: absolute;
      top: 0;
      right: calc(($boxSize + 60px) * -1);
      display: grid;
      place-items: center;
      width: $boxSize;
      height: $boxSize;
      border: 1px solid currentColor;
      border-radius: 50%;
      &-icon {
        width: 24px;
        height: 24px;
        -webkit-mask-image: url("./../../assets//icons/heart_solid.svg");
        mask-image: url("./../../assets//icons/heart_solid.svg");
        background: currentColor;
      }
      &:hover {
        background: currentColor;
      }
      &:hover &-icon {
        background: $clrNeutralWhite;
      }
    }
    &-prices {
      display: flex;
      align-items: center;
      &--current {
        @include typo__h3-30;
        color: $clrAccentTetradic1;
      }
      &--old {
        @include typo__h4-24--thin;
        color: $clrNeutralGray;
        margin-left: 16px;
        text-decoration: line-through;
      }
      &-discount {
        @include typo__body-16--black;
        @extend %box-style;
        color: $clrNeutralWhite;
        background: $clrNeutralDarker;
        margin-left: 24px;
      }
    }
    &-desc {
      @include typo__h5-20--thin;
      max-width: 540px;
    }
    &-sizes {
      display: flex;
      gap: 10px;
      li {
        @include typo__body-16--black;
        @extend %box-style;
        cursor: pointer;
        border: 1px solid $clrSecondaryDarker;
        &:hover {
          color: $clrNeutralWhite;
          background: $clrSecondaryDarker;
        }
      }
      &-opt {
        &--active {
            color: $clrNeutralWhite;
            background: $clrSecondaryDarker;
        }
      }
    }
    &-quantity {
      display: flex;
      align-items: center;
      gap: 24px;
      &-title {
        @include typo__h5-20--black;
      }
      &-action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 8px 12px;
        border: 1px solid currentColor;
        border-radius: 40px;
        &-icon {
          @extend .hover-effect-btn;
          @extend .active-effect;
          path {
            fill: currentColor;
          }
        }
        &-numb {
          @include typo__body-16--black;
          width: 22px;
        }
      }
    }
    &-cta {
      display: flex;
      gap: 24px;
      align-items: center;
      &-btn {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    &-share {
      display: flex;
      align-items: center;
      gap: 12px;
      &-title {
        @include typo__h5-20--thin;
        color: $clrNeutralDarker;
      }
      &-opt {
        @extend .hover-effect-btn;
      }
    }
  }

  &__others {
    @include typo__h5-20--thin;
    &-nav {
      position: relative;
      display: flex;
      gap: 30px;
      margin-bottom: 24px;
      &-btn {
        cursor: pointer;
        &--active {
          @extend .link--active;
          &::after {
            height: 1px;
            z-index: 2;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $clrSecondaryLighter;
      }
    }
    &-info {
      &-text {
        max-width: 450px;
        margin-bottom: 30px;
      }
      &-imgs {
        @include flexColStyle(20px);
        justify-content: center;
        align-items: center;
        img {
          max-width: 600px;
        }
      }
    }
  }
}
