.Footer {
  @include typo__body-16--thin;
  position: relative;
  right: 0;
  left: 0;
  height: 426px;
  padding-top: 50px;
  background: $clrSecondaryLightest;
  &__info {
    @include col(5);
    &-contacts {
      display: flex;
      flex-direction: row;
      gap: 24px;
      li {
        @extend .hover-effect-btn;
      }
    }
  }
  &__nav {
    @include col(3);
    margin-top: 20px;
    &-links {
      li {
        @extend .hover-effect-link;
      }
    }
  }
  &__news {
    @include col(4);
    margin-top: 20px;
    &-desc {
      margin-bottom: 20px;
    }
    &-form-inp {
      button {
        right: 0;
        bottom: 0;
      }
    }
  }
  &__content {
    &-title {
      @include typo__body-16--black;
      margin-bottom: 30px;
    }
    &-main {
      @include flexColStyle(20px);
    }
  }
  &__other {
    @include col(12);
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background: $clrSecondaryNormal;
    }
    &-payment {
      display: inherit;
      gap: 24px;
    }
  }
}
