.hover-effect,
.hover-effect-link,
.hover-effect-btn,
.active-effect {
  cursor: pointer;
}

.hover-effect {
  &:hover {
    scale: 1.10;
  }
  transition: all 0.2s ease;
}

.hover-effect-link {
  &:hover {
    text-decoration: underline;
  }
}

.hover-effect-btn {
  &-border {
    &:hover {
      background: rgba($clrSecondaryDarker, 0.05);
      color: $clrSecondaryDarker;
    }
    &:active {
      color: $clrSecondaryDarkest;
      background: rgba($clrSecondaryDarker, 0.1);
    }
    transition: all 0.2s ease;
  }
  &-secondary {
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
      background: $clrSecondaryDarkest;
    }
    transition: all 0.2s ease;
  }
}

.active-effect {
  &:active {
    scale: 0.85;
    opacity: 0.85;
  }
  transition: all 0.2s ease;
}
