/* Neutral colors */
$clrNeutralDarkest: #1d1f1f;
$clrNeutralDarker: #5d5f5f;
$clrNeutralGray: #b6b8b8;
$clrNeutralLighter: #e3e3e3;
$clrNeutralLightest: #f4f4f5;
$clrNeutralWhite: #ffffff;

/* Secondary colors */
$clrSecondaryDarkest: #4351cd;
$clrSecondaryDarker: #6270e8;
$clrSecondaryNormal: #909af1;
$clrSecondaryLighter: #dee0f3;
$clrSecondaryLightest: #eaebf5;

/* Accent colors */
$clrAccentAnalogousR: #53a7df;
$clrAccentAnalogousL: #8b53df;
$clrAccentTetradic1: #df53a7;
$clrAccentComplementary: #dfd153;
$clrAccentRed: #da3e31;
$clrAccentRedLighter: #fcb8b2;