@font-face {
  font-family: "VLBoosterNextFY";
  src: url("../../assets/fonts/VLBoosterNextFY/VLBoosterNextFY-Black.woff")
      format("woff"),
    url("../../assets/fonts/VLBoosterNextFY/VLBoosterNextFY-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "VLBoosterNextFY";
  src: url("../../assets/fonts/VLBoosterNextFY/VLBoosterNextFY-Thin.woff")
      format("woff"),
    url("../../assets/fonts/VLBoosterNextFY/VLBoosterNextFY-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}
