// Mixin
// Responsive widths
$mobile-width: 430px;
$web-width: 1920px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

// Grid System
.grid {
  display: block;
  padding: 0;
  width: 1420px;
  @include mobile {
    width: 430px;
  }
  margin: 0 auto;
}

// Columns
$cols: 12;
$web-gutter: 1.5625%;
$one_col: calc((100% - ($web-gutter * ($cols - 1))) / $cols);
@mixin col($num) {
  width: ($one_col * $num) + ($web-gutter * ($num - 1));
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: $web-gutter;
  justify-content: center;
}

// Padding
.large-margin {
  &-top {
    margin-top: 100px;
  }
}

.small-margin {
  &-top {
    margin-top: 40px;
  }
}

// Flexbox - Column - Gap
@mixin flexColStyle($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
