@mixin typo__hero-72 {
  font-size: 72px;
  font-weight: 900px;
  line-height: 94px;
}
@mixin typo__h1-44 {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
}
@mixin typo__h2-36 {
  font-size: 36px;
  font-weight: 900;
  line-height: 54px;
}
@mixin typo__h3-30 {
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
}
@mixin typo__h4-24--black {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}
@mixin typo__h4-24--thin {
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}
@mixin typo__h5-20--black {
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
}
@mixin typo__h5-20--thin {
  font-size: 20px;
  font-weight: 100;
  line-height: 26px;
}
@mixin typo__body-16--black {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}
@mixin typo__body-16--thin {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
@mixin typo__body-14--black {
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}
@mixin typo__body-14--thin {
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
}
@mixin typo__body-12--black {
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
}
@mixin typo__body-12--thin {
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
}
